<style>
  nav,
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  ul {
    list-style: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.6rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    cursor: pointer;
  }
</style>

<nav>
  <ul>
    <a href="/"> <li>HOME</li></a>
    <a href="/analysis"> <li>ANALYSIS</li></a>
  </ul>
</nav>
