<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("includes/nav.ejs") %>
    <h1>Analystics</h1>

    <h1>Sentiment Analysis Demo</h1>
    <p id="statusText"></p>
    <input
      id="inputText"
      type="text"
      value="Today is the happiest day and is full of rainbows!"
    />
    <button id="submitBtn">Submit</button>
    <p>sentiment score:<span id="score"></span></p>
  </body>

  <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script> -->
  <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>

  <!-- model -->
  <script>
    let sentiment;
    let statusEl;
    let submitBtn;
    let inputBox;
    let sentimentResult;

    function setup() {
      // initialize sentiment
      sentiment = ml5.sentiment("movieReviews", modelReady);

      // setup the html environment
      statusEl = document.querySelector("#statusText");
      statusEl.innerHTML = "Loading Model...";

      inputBox = document.querySelector("#inputText");
      submitBtn = document.querySelector("#submitBtn");
      sentimentResult = document.querySelector("#score");

      // predicting the sentiment on mousePressed()
      submitBtn.addEventListener("click", getSentiment);
    }

    setup();

    function getSentiment() {
      // get the values from the input
      const text = inputBox.value;
      // make the prediction
      const prediction = sentiment.predict(text);

      // display sentiment result on html page
      sentimentResult.innerHTML = prediction.score;
    }

    function modelReady() {
      // model is ready
      statusEl.innerHTML = "model loaded";
    }
  </script>
</html>
