<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html,body{
        margin:0;
        padding:0;
        overflow-x:hidden;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      h1{
        text-align:center
      }
      div{
        text-align: center;
      }
      input{
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
      }
      button{
        padding: 0.6rem;
        width: 10rem;
        border: none;
        outline: none;
        margin-top: 2rem;
        background-color: lightblue;
      }
      form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    </style>

    
  </head>
  <body>
    <%- include("./includes/nav.ejs") %>
    <h1>Send Mail</h1>
    <div>copy the Link</div>
    <div>http://localhost:4000/linkedln</div>
    <div>
      <form action="/maildata" method="post">
        <div>
          <label for="to">To</label>
          <input type="text" name="to" id="to" />
        </div>
        <div>
          <label for="subject">Subject</label>
          <input type="text" name="subject" id="subject" />
        </div>
        <div>
          <label for="mail">Mail Body</label>
          <input type="text" name="mailbody" id="mail" />
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
